body, html {
    height: 100%;
  }

h1, h2, h3, p, li{
    text-align: center;
}

#intro{
  /* The image used */
  background-image: url(./Images/Copy\ of\ _Z9A1120.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo{
    display: block;
}


.center{
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

td, th{
    padding: 15px;
    text-align: center;
    border: 1px solid;
  }
th.table-top{
    padding: 15px;
    background-color: #c81d4d;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: black solid;
}

